html, body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

header {
    background-color: #26a69a;
    color: #f1f1f1;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 5px rgb(44, 44, 44);
}

.header-title a{
    text-decoration: none;
    color: #f1f1f1;
}

.header-nav-link {
    list-style: none;
}

.header-nav-link li{
    display: inline-block;
}

.header-nav-link li a {
    display: block;
    text-decoration: none;
    color: #b3b3b3;
    transition: all 0.3s;
    padding: 15px;
}

.header-nav-link li a:hover {
    color: #f1f1f1;
}

main {
    min-height: 100%;
}

.main-top {
    height: 150px;
    margin: 0 15%;
    padding: 50px 25px;
}

.main-top h3 {
    font-size: 3rem;
    margin: 0px;
}

.typewriter{
    border-right: 0.07em solid black;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(11, end) forwards, cursol 1s step-end infinite;
}

@keyframes typing{
    0% { width: 0%; }
    100% { width: 11em;}
}

@keyframes cursol{
    0%{ border-color: transparent; }
    50%{ border-color: black; } 
    100%{ border-color: transparent; }
}

.inner {
    background-color: #f1f1f1;
    min-height: 100%;
    padding: 15px 15%;
}

.in-card {
    margin-top: 15px;
    padding: 5px 25px;
    background-color: #ffffff;
    border: #b3b3b3 solid 2px;
    box-shadow: 0 0 1px #2e2e2e;
}

.in-card h2 {
    border-bottom: #2e2e2e solid 3px;
    width: 45%;
}

footer {
    display: flex;
    color: #f1f1f1;
    background-color: #2e2e2e;
    height: 180px;
    padding: 15px 15%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer-box {
    width: 250px;
}

.footer-text {
    padding: 5px;
    border-left: #f1f1f1 solid 3px;
    border-bottom: #f1f1f1 solid 3px;
}

.footer-link ul{
    list-style: none;
    padding: 2px;
}

.footer-link ul li {
    display: block;
    border-bottom: #f1f1f1 solid 2px;
}

.footer-link ul li a {
    color: #f1f1f1;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
}