@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 11, 11;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-color-block: #1a1a1a;
}

html, body {
  color: var(--text-color-block);
  width: 100%;
}

.main-top {
  color: #fafafa;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),url(/assets/img/mynecraft-title.jpeg);  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
}